*
{
    margin: 0;padding: 0;border: 0;outline: 0;
}
html
{
    font-size: 62.5%;
}
body
{

    font: 1.4rem/1.5 -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
		color: #333;
    background: #a3a8ad;
    background: linear-gradient(to bottom, #3d75a7 0px, #2f597f 367px, #1b3349 368px, #bfc4ca 369px, #a3a8ad 370px, #a3a8ad 100%) repeat fixed 0 0;
}
.hr
{
    height: 0;
    margin-bottom: 32px;

    border-top: 1px solid #464646;
    border-bottom: 1px solid #fff;
}
.container
{
    box-sizing: border-box;
    width: 90%;
    max-width: 940px;
    margin: 40px auto;
    padding: 60px;
		box-shadow: 4px 4px 8px;

    border-radius: 12px;
    background-color: #f1f1f1;
}
a
{
    text-decoration: none;

    color: #0a6eb4;
}
a:hover
{
    color: #013351;
}
.header
{
    position: relative;

    min-height: 270px;
		padding-left: 250px;
}
.photo
{
    position: absolute;
		width: 220px;
    top: 0;
		left: 0;
    padding: 1px;
    border: 1px solid #d5d5d5;
    background-color: #f6f6f6;
}
.name
{
    font: 600 normal 3.2rem 'Exo 2',sans-serif;
}
.position
{
    font: 400 italic 2rem 'Exo 2',sans-serif;
    color: #173d5f;
}
.top-description
{
    font-size: 1.6rem;
    font-weight: normal;

    margin-top: 10px;
    margin-bottom: 15px;
}
.contacts
{
    margin-bottom: 20px;
}
.address,
.phone,
.mail,
.skype
{
    font-size: 1.6rem;

    display: block;
    overflow: hidden;

    padding: 4px 0 0 30px;

    background: url(../../img/sprite.png) no-repeat;
}
.address
{
    background-position: -13px -94px;
}
.phone
{
    background-position: -9px -2px;
}
.mail
{
    background-position: -9px -34px;
}
.skype
{
    background-position: -13px -124px;
}

.subtitle
{
    font-family: 'Exo 2',sans-serif;
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
}
.badge
{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    font-style: normal;

    display: inline-block;

    margin-left: 10px;
    padding: 0 10px;

    color: #fff;
    background-color: #2f597f;
}
.spoil-link
{
    font-family: 'Exo 2',sans-serif;
    font-size: 2.6rem;

    cursor: pointer;
}
.work-name
{
    font-size: 1.4rem;
    font-weight: bold;

    margin-top: 20px;
}
.description
{
    margin-top: 20px;
}
ul.list
{
    position: relative;

    clear: both;

    margin: 30px 0 0 45px;

    list-style: none;

    border-bottom: 1px dashed #afafaf;
}
ul.list > li
{
    display: block;

    padding: 10px 25px 20px;

    border: 1px dashed #afafaf;
    border-bottom: 0;
}
ul.list:after
{
    position: absolute;
    top: -10px;
    left: 30px;

    width: 20px;
    height: 20px;

    content: '';
    transform: rotate(45deg);

    border-top: 1px dashed #afafaf;
    border-left: 1px dashed #afafaf;
    background-color: #e6e6e6;
}
ul.list > li:nth-child(odd)
{
    background: #e6e6e6;
}

ul.list > li:after
{
    display: table;clear: both;content: '';
}

ul.list ul li
{
    margin-left: 17px;
}




@media screen and (max-width: 940px)
{
    ul.list
    {
        margin-left: 0;
    }
}
@media screen and (max-width: 760px)
{
    .container
    {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 10px;

        border-radius: 0;
    }
}
@media screen and (max-width: 560px)
{
    .photo
    {
        position: static;
    }
		.header {
			padding-left: 0;
		}
    .name,
    .position,
    .top-description,
    .contacts
    {
        margin-left: 0;
    }
    .contacts
    {
        position: absolute;
        top: 80px;
        left: 250px;
    }
}
@media screen and (max-width: 440px)
{
    .contacts
    {
        position: static;
    }
}
